.root {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  margin-bottom: 10px;
  font-size: 54px;
  font-weight: bold;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}
